<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


	<!--Bootstrap Css 読み込み -->
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

	<!-- Bootstrap JavaScript & jQuery 読み込み -->
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

	<!-- js読み込み -->
	<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>

	<!--css個別読込-->
	<link rel="stylesheet" type="text/css" href="/css/layout.css">

	<!--js個別読込-->
	<script th:src="@{/js/layout.js}"></script>


	<title></title>
</head>

<body class="bg-success text-dark bg-opacity-10">
	<!-- ヘッダー -->
	<nav id="headerNav" class="navbar  navbar-fixed-top bg-success p-2 bg-opacity-50">
		<div layout:replace="~{layout/header::header}"></div>
	</nav>
	<div id="rowDiv" class="row ">
		<!-- サイドバー -->
		<nav id="sidebarNav" class="col bg-success p-2 bg-opacity-25">
			<div id="sidebarDiv" layout:replace="~{layout/sidebar::sidebar}">
			</div>
		</nav>
		<!-- コンテンツヘッダー --><!-- コンテンツ -->
		<nav id="contentNav" class="col">
			<div id="contentsHeader" layout:replace="~{layout/contentsHeader::contentsHeader}"></div>
			<div id="content" layout:fragment="content"></div>
		</nav>
	</div>
</body>

</html>