<!--templates/inventory/inventory.html-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<meta charset="utf-8">
	
	<!--js個別読込-->
	<script th:src="@{/js/inventory/register_item.js}"></script>
	<script th:src="@{/js/inventory/register_itemFunc.js}"></script>

</head>

<body>
	<div layout:fragment="contentsHeader">
		<h2>&LT;在庫管理&GT;物品登録画面</h2>
	</div>
	<div layout:fragment="content">
		<form >
			<input type="button" value="登録" class="btn btn-primary" onclick="registerItem.registerItems()">
		</form>

		<form id="itemDetails" th:object="${itemDetails}" th:action="@{/inventory/register_item/registItem}" method="post">
			<table>
				<tbody>
					<tr>
						<td>主要製品</td>
						<td>
							<select id="productsDropdown" th:field="*{fkProductId}">
								<option th:each="products:${products}" th:value="${products.Id}"
								th:text="${products.productName}"
								th:selected="${products.Id==initialProductsId}"></option>
							</select>
						</td>
					</tr>
					<tr>
						<td>図番</td>
						<td><input type="text" th:field="*{itemNo}"></td>
					</tr>
					<tr>
						<td>物品名</td>
						<td><input type="text" th:field="*{itemName}"></td>
					</tr>
					<tr>
						<td>在庫数量</td>
						<td>登録後に入庫を行ってください。</td>
					</tr>
					<tr>
						<td>基本使用数量</td>
						<td><input type="number" min="0" th:field="*{basicQuantity}"></td>
					</tr>
					<tr>
						<td>物品単価</td>
						<td><input type="number" min="0" th:field="*{unitPrice}"></td>
					</tr>
					<tr>
						<td>在庫上限</td>
						<td><input type="number" min="0" th:field="*{stockMax}"></td>
					</tr>
					<tr>
						<td>在庫下限</td>
						<td><input type="number" min="0" th:field="*{stockMin}"></td>
					</tr>
					<tr>
						<td>発注ステータス</td>
						<td>発注：
							<input type="radio"  name="statusDone" th:field="*{statusDone}" th:value="false" th:text="要">
							<input type="radio" name="statusDone" th:field="*{statusDone}" th:value="true" th:text="不要">
						</td>
					</tr>
					<tr>
						<td>発注不可</td>
						<td >発注：
							<input type="radio" name="statusUnable" th:field="*{statusUnable}" th:value="false" th:text="可">
							<input type="radio" name="statusUnable" th:field="*{statusUnable}" th:value="true" th:text="不可">
						</td>
					</tr>
					<tr>
						<td>備考</td>
						<td><input type="text" th:field="*{remarks}"></td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
</body>

</html>