@charset "UTF-8";
/* layout.css */

body{
	display: flex;
	flex-direction: column; 
    margin: 0; 
}

#headerNav{
	height: 60px;
}

#rowDiv{
	margin: 0%;
	height: 100%;
}

#sidebarNav{
	max-width: 180px;
}

#categoryAccordion {
    width: 100%; /* navタグの幅いっぱいにする */
    button{
		text-align: left;
		width:100%;
	}
}

#contentNav{	
	flex:1;
}


@media (max-width:760px) {}